// This container contains multiple instances of images that get turned
// into jcrop instances.
.help-block .crops {
	position: relative;
	display: block;
	margin-top: 5px;
	
	// Remove the margin that we want when no crops are present
	.img-polaroid {
		margin: 0;
	}
	
	// Setup the tabs
	.tabs {
		display: inline-block;
		margin-bottom: -1px;
		
		// The tabs
		> * {
			padding: 6px;
			margin-right: 2px;
			line-height: 1em;
			display: inline-block;
			border: solid 1px transparent;
			@include border-corner-radius(top, left, 4px);
			@include border-corner-radius(top, right, 4px);
			
			// The active tab
			&.active {
				border-color: $grey-border;
				border-bottom: white;
				background-color: white;
				position: relative;
				z-index: 1;
			}
			
			// Rollover
			&:hover:not(.active) {
				cursor: pointer;
				background-color: $grey-border;
			}
		}
	}
	
	// Deactivate all but the first image
	.imgs > * {
		display: none;
	}
	.imgs > :first-child {
		display: block;
	}
	
	// Remove a little space that jcrop adds
	.imgs {
		line-height: 0;
		display: block;
	}
	
	// The fullscreen button
	.icon-fullscreen {
		margin-left: 5px;
		@include opacity(.4);
		cursor: pointer;
		.form-group:hover & {
			@include opacity(.7);
		}
		.form-group &:hover {
			@include opacity(1);
		}
	}
}

// Make an form element take up the whole page
.fullscreen {
	position: absolute !important;
	width: 96%;
	z-index: 999;
	left: 2%;
	right: 2%;
	background: rgba(255, 255, 255, .9);
	@include box-shadow(0 3px 20px rgba(0,0,0,.3));
	border: 1px solid $light-grey;
	padding: 0px;
	
	// This was on the form-group previously
	.form-vertical & {
		margin-top: -8px;
	}

	// Reset the spacing of the form-group
	.form-group, &.form-group {
		margin: 0;
		padding: 5px;
	}
	
	// A non-related view won't have had this set eyt
	.img-polaroid {
		width: 100%;
	}
	
}