// Chrome currently is screwing up the display of the label
// when line height is set: http://cl.ly/image/1o2W1V2y0d21
.control-group input[type="file"] {
	line-height: inherit;
	position: relative;
	top: 4px;
	height: inherit;
	margin-bottom: 5px;
}

// These are the image upload control groups.  The 10px margins here just seemd to
// look better than the 5px that is generally the spacing on the help block.
.control-group.upload {

	.jcrop-tracker {
		background: transparent;
	}

	.jcrop-holder {
		background-color: transparent !important;
		background-image: url($decoy_img_dir + '/jcrop/img-bkgd.png');
	}

	.img-polaroid { 
		background: transparent;
		z-index: 100;
		@include box-sizing(border-box);
		&.no-help { // There is no help text, so we don't need to push away from it
			margin-top: 5px;
		}
	}
	
	// This the styling for generic file uploads
	.download {
		color: inherit;
		a, code { color: #1E8AAA; }
	}
	.upload-delete {
		&, a { color: #D14; }
	}
	.download, .upload-delete, .status {
		display: block;
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 14px;
		i {
			position: relative;
			top: -1px;
			margin-right: 2px;
		}
		code { background: none; }
	}

	// This wraps explicitly passed blockhelp
	.regular-help { display: block; }

	// Show the max upload size only on hover
	.max-size { display: none; }
	&:hover .max-size { 
		display: inline-block; 
		@include opacity(.6);
	}

}

// Skin video encoder
.control-group.video-encoder {

	// Apply block to the progress bar since we're rendering it as a span
	// because it's in block-help which is a p
	.progress, .bar {
		display: inline-block;
	}

	// Format the progress bar
	.progress {
		width: 260px;
		margin-bottom: 0;

		// Middle relateive to the status label
		vertical-align: middle;

		// Make the bar look more like the download link, which inherits from <code>
		background: none;
		box-shadow: none;
		border: 1px solid #e1e1e8;
		.bar {
			font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
			font-size: 12px;
			@include text-shadow(none);
		}
	}

	// Error message
	.error {
		color: #d14;
	}

}
