// Chrome currently is screwing up the display of the label
// when line height is set: http://cl.ly/image/1o2W1V2y0d21
.control-group input[type="file"] {
	line-height: inherit;
	position: relative;
	top: 4px;
	height: inherit;
	margin-bottom: 5px;
}

// These are the image upload control groups.  The 10px margins here just seemd to
// look better than the 5px that is generally the spacing on the help block.
.control-group.upload {

	.jcrop-tracker {
		background: transparent;
	}

	.jcrop-holder {
		background-color: transparent !important;
		background-image: url($decoy_img_dir + '/jcrop/img-bkgd.png');
	}

	.img-polaroid { 
		margin-top: 10px;
		background: transparent;
		z-index: 100;
		@include box-sizing(border-box);
		&.no-help { // There is no help text, so we don't need to push away from it
			margin-top: 5px;
		}
	}
	
	// This the styling for generic file uploads
	.download {
		color: inherit;
		a, code { color: #1E8AAA; }
	}
	.upload-delete {
		&, a { color: #D14; }
	}
	.download, .upload-delete {
		margin-top: 5px;
		font-size: 14px;
		i {
			position: relative;
			top: -1px;
		}
		code { background: none; }
	}

	// Addintion styling for image upload deletes
	&.image-upload .upload-delete { 
		margin-top: 5px;
		color: #D14;
		a { color: #D14;}
	}

	// This wraps explicitly passed blockhelp
	.regular-help { display: block; }

}
