// Add an optional class to control groups that will position the contents inline
.inline .control-group, .control-group.inline {
	.control-label {
		float: left;
		width: 160px;
		line-height: 30px;
	}
	
	// Let selects be their natural width
	select {
		width: inherit;
	}
	
	// Restrict files so they have a better chance of being visible on narrower browsrs
	input[type="file"] {
		width: 190px;
	}
	
	// Anything else in there needs to go to the next line
	.help-block {
		clear: left;
	}
	
	// Fix the alignment of checkboxes http://cl.ly/image/331N470v2p2I
	.controls > label.checkbox { 
		float: left;
	}
	
}