// Tweaks to the typehead menu
.typeahead {
	
	// Make the dropdown span at least the full width of the widget
	.pull-right & {
		min-width: 100%;
	}
	
	// Make the rollover state look better
	.active a {
		color: white;
		&:hover {
			color: white;
		}
	}
	
	// Reduce the size of images
	li img {
		height: 18px;
	}
	
	// Reduce the margins (looks better when there are images in there )
	li > a {
		padding: 5px;
	}
}
