!= View::make('decoy::shared.form._header', $__data)->render()

%fieldset
	.legend Reset
	%p Enter a new password and we'll log you in.

	!=Former::hidden('token', $token)
	!=Former::text('email')
	!=Former::password('password')
	!=Former::password('password_confirmation', 'Password, again')

	.form-actions
		%button(type="submit" class="btn btn-primary") Submit
		%a.btn.btn-default(href=route('decoy::account@login')) Cancel

!=Former::close()
