/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Allow for things to be 100% height
html {
	min-height: 100%;
}

// Add a little breathing room to bottom of the page
body {
	background-color: #efefef;
}

// Make the label font size bigger again
.label {
	font-size: 12px;
	
	// Make the text look a lil more v-centered
	padding-bottom: .25em;
}

// All dropdowns should look interactive
.dropdown {
	cursor: pointer;
}

// Shift icons that are in labels down a smidge
.control-label, .btn {
	.glyphicon {
		position: relative;
		top: 1px;
	}
}

// Remove the blue tab focus outline.  Bootstrap's active/hover states suffice
a, .btn { outline: none !important; }

a, a:hover {
	text-decoration: none;
}


// The main container
#main {
	position: relative;
	padding: $form-group-margin*2;
	margin-left: $nav-width-open;
	padding-top: $header-height+10;

	// On mobile widths, have main span the entire width of the screen
	@media(max-width:$mobile) {
		margin-left: 0;
	}
}