/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Allow for things to be 100% height
html {
	min-height: 100%;
}

// Add a little breathing room to bottom of the page
body {
	background-color: #efefef;
}

// Make the label font size bigger again
.label {
	font-size: 12px;
	
	// Make the text look a lil more v-centered
	padding-bottom: .25em;
}

// All dropdowns should look interactive
.dropdown {
	cursor: pointer;
}

// Shift icons that are in labels down a smidge
.control-label, .btn {
	.glyphicon {
		position: relative;
		top: 1px;
	}
}

// Remove the blue tab focus outline.  Bootstrap's active/hover states suffice
a, .btn { outline: none !important; }

a, a:hover {
	text-decoration: none;
}


// The main container
#main {
	position: relative;
	padding: $main-padding;
	margin-left: $nav-width-open;

	// Breadcrumbs are abs/fixed position, so compensate for their height
	padding-top: $main-padding + $breadcrumb-height;

	// On mobile widths, have main span the entire width of the screen
	@media(max-width:$mobile) {
		margin-left: 0;
	}
}

// An outline button has no fill but has a stroke
.btn.outline {
	background: none;
	border: 1px solid rgba($theme-primary-inverse, .85);
	color: rgba($theme-primary-inverse, .85);
	&:hover {
		background: rgba($theme-primary-inverse, .15);
		border-color: $theme-primary-inverse;
		color: $theme-primary-inverse;
	}

	// Make it secondarily colored
	.legend &, {
		color: rgba($theme-secondary-inverse, .85);
		border-color: rgba($theme-secondary-inverse, .85);
		&:hover { 
			color: $theme-secondary-inverse;
			border-color: $theme-secondary-inverse; 
		}
	}
}

