/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Allow for things to be 100% height
html {
	min-height: 100%;
}

// Set body color
body {
	background-color: $body-color;
}

// Make the label font size bigger again
.label {
	font-size: 12px;
	
	// Make the text look a lil more v-centered
	padding-bottom: .25em;
}

// All dropdowns should look interactive
.dropdown {
	cursor: pointer;
}

// Shift icons that are in labels down a smidge
.control-label, .btn {
	.glyphicon {
		position: relative;
		top: 1px;
	}
}

// Remove the blue tab focus outline.  Bootstrap's active/hover states suffice
a, .btn { outline: none !important; }

// Don't underline on rollver
a, a:hover {
	text-decoration: none;
}

// Animate links
a {
	@include link-transitions;
}

// Set the active state for links to be the active color
a:active {
	color: $theme-primary-color;
}

// Underline links in paragraphs
p a {
	border-bottom: dotted 1px #ccc;
}

// The main container
#main {
	position: relative;
	padding: $main-padding;
	margin-left: $sidebar-width;
	padding-bottom: $main-padding*2; // this is to clear the fixed button controls

	// Breadcrumbs are abs/fixed position, so compensate for their height
	padding-top: $main-padding + $breadcrumb-height;

	@include transition( margin-left 250ms 0ms ceaser($easeInQuad));

	// On mobile widths, have main span the entire width of the screen
	@media(max-width:$screen-sm) {
		margin-left: 0;
		padding-left: $main-padding-mobile;
		padding-right: $main-padding-mobile;
		padding-top: $main-padding-mobile + $main-padding;
	}
}

// An outline button has no fill but has a stroke
.btn.outline {
	background: none;
	border: 1px solid rgba($theme-primary-inverse, .85);
	color: rgba($theme-primary-inverse, .85);
	&:hover {
		background: rgba($theme-primary-inverse, .15);
		border-color: $theme-primary-inverse;
		color: $theme-primary-inverse;

		// override glyphs in links getting the primary color
		span{
			color: $theme-primary-inverse;
		}
	}

	// Make it secondarily colored
	.legend &, .search & {
		color: rgba($theme-secondary-inverse, .85);
		border-color: rgba($theme-secondary-inverse, .85);
		&:hover { 
			background: rgba($theme-secondary-inverse, .15);
			color: $theme-secondary-inverse;
			border-color: $theme-secondary-inverse; 

			// override glyphs in links getting the primary color
			span{
				color: $theme-secondary-inverse;
			}
		}
	}
}

