
// Sizing
$form-group-pad: 8px !default;
$nav-width-open: 200px !default;
$nav-width-closed: 50px !default;

// Font
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic);
$font-family-sans-serif: 'Lato' !default;
$headings-font-family: 'Lato' !default;
$headings-font-weight: 700 !default;