
// Sizing
$nav-width-open: 200px !default;
$nav-width-closed: 50px !default;
$header-height: 50px !default;

// Font
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:100,300,400,700);
$font-family-sans-serif: 'Lato' !default;
$headings-font-family: 'Roboto Slab' !default;
$headings-font-weight: 400 !default;
$bootstrap_nav_break: 400px;