
// Colors
$light-grey: whiteSmoke;
$grey-border: #ddd;
$light-opacity: .3;
$near-black: $gray-dark;

// Theme
$theme-color: #67bfb6 !default;
$theme-text: white !default;
$theme-bkgd: url('/packages/bkwld/decoy/img/theme/bkgd.jpg') !default;

// Break points
$main-break: $screen-sm; // This should be deprecated
$mobile: 650px;

// Sizing
$form-group-margin: 15px !default;
$main-padding: $form-group-margin*2;
$nav-top-border-height: 4px;
$breadcrumb-height: 24px + $nav-top-border-height;

// UI
$common-shadow: 0 2px 0px #dddddd;