
// Theme
$theme-primary-color: #67bfb6 !default;
$theme-primary-inverse: white !default;
$theme-secondary-color: #ffd7b0 !default;
$theme-secondary-inverse: darken($theme-secondary-color, 50%) !default;
$theme-login-bkgd: url('/packages/bkwld/decoy/img/theme/bkgd.jpg') !default;

// Colors
$body-color: #efefef;
$light-grey: whiteSmoke !default;
$grey-border: #ddd !default;
$light-opacity: .3 !default;

// Sizes
$form-group-margin: 15px !default;
$main-padding: $form-group-margin*2 !default;
$nav-top-border-height: 4px;
$breadcrumb-height: 24px + $nav-top-border-height !default;
$sidebar-width: 200px !default;
$nav-top-border-height: 4px !default;
$nav-width-closed: 50px !default;
$footer-height: 60px;
$main-padding-mobile: 10px;
$horizontal-label-width: 150px;
$horizontal-label-margin: $horizontal-label-width + $form-group-margin;

// UI
$common-shadow: 0 2px 0px #dddddd !default;

/**
 * Bootstrap variables
 * Aka, the variable name is significant
 */

// Customize the path to the font
$icon-font-path: '/js/admin/vendor/bootstrap/dist/fonts/' !default;

// Make small items a little smaller, yet bigger than xs
$padding-small-vertical: 3px !default;
$padding-small-horizontal: 7px !default;

// Reduce cell padding
$table-cell-padding-horizontal: 6px !default;
$table-cell-padding-vertical: 8px !default;
$table-cell-padding: $table-cell-padding-vertical $table-cell-padding-horizontal !default;

// Pagination - using the theme's primary color
$pagination-color: $theme-secondary-inverse !default;
$pagination-active-color: $theme-primary-inverse !default;
$pagination-active-bg: $theme-primary-color !default;
$pagination-active-border: $theme-primary-color !default;
$pagination-hover-color: $theme-secondary-inverse !default;

// Fonts
$fonts-url: 'http://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:100,300,400,700' !default;
$font-family-sans-serif: 'Lato' !default;
$headings-font-family: 'Roboto Slab' !default;
$headings-font-weight: 300 !default;
