// Paths
$decoy_img_dir: '/packages/bkwld/decoy/img/';

// Theme
$theme-primary-color: #67bfb6 !default;
$theme-primary-inverse: white !default;
$theme-secondary-color: #ffd7b0 !default;
$theme-secondary-inverse: darken($theme-secondary-color, 50%) !default;
$theme-login-bkgd: '/packages/bkwld/decoy/img/theme/bkgd.jpg' !default;

// Colors
$body-color: #efefef !default;
$light-grey: whiteSmoke !default;
$lightest-grey: #fdfdfd !default;
$grey-border: #ddd !default;
$light-opacity: .3 !default;
$nav-text: #8c8c8c !default;
$nav-text-active: #eee !default;
$nav-bkgd-active: $theme-primary-color !default;
$element-icon-color: $theme-primary-color !default;
$element-icon-inverse: $theme-primary-inverse !default;
$element-icon-active: $grey-border !default;
$form-container-bkgd: #F5F5F5 !default;
$table-row-hover: #f6f6f6;
$code-editor-bkgd: #1d1f21;
$code-editor-text: #36ca0e;

// Sizes
$main-padding: 30px !default; // Same as $grid-gutter-width
$main-padding-mobile: 10px;
$form-group-margin: $main-padding/2 !default; // 15px
$form-group-margin-sm: round($form-group-margin/2) !default; // 8px;
$nav-top-border-height: 4px;
$breadcrumb-height: 24px + $nav-top-border-height !default;
$sidebar-width: 200px !default;
$nav-top-border-height: 4px !default;
$nav-width-closed: 50px !default;
$footer-height: 60px !default;
$nav-bottom-height-mobile: 45px !default;
$horizontal-label-width: 150px !default;
$horizontal-label-margin: $horizontal-label-width + $form-group-margin !default;
$nav-pad: 10px !default;
$max-width: 1280px - $sidebar-width - $main-padding * 2 !default;

// UI
$common-shadow: 0 2px 0px #dddddd !default;
$link-border: dotted 1px #ccc !default;
$header-z: 700 !default; // This is to clear the crop image UI

/**
 * Bootstrap variables
 * Aka, the variable name is significant
 */

// Override or re-itereate color
$text-color: #333 !default;
$link-color: $text-color !default;
$link-hover-color: $theme-primary-color !default;
$input-border-focus: $theme-secondary-color !default;
$tooltip-bg: #333 !default;
$input-group-addon-bg: $light-grey !default;

// Customize the path to the font
$icon-font-path: '/js/admin/vendor/bootstrap/dist/fonts/' !default;

// Make small items a little smaller, yet bigger than xs
$padding-small-vertical: 3px !default;
$padding-small-horizontal: 7px !default;

// Breaking padding into 2 variables that can be changed
$table-cell-padding-horizontal: $form-group-margin-sm !default; // So that they match up on break
$table-cell-padding-vertical: 8px !default;
$table-cell-padding: $table-cell-padding-vertical $table-cell-padding-horizontal !default;

// Pagination - using the theme's primary color
$pagination-active-color: $theme-primary-inverse !default;
$pagination-active-bg: $theme-primary-color !default;
$pagination-active-border: $theme-primary-color !default;

// Fonts
$fonts-url: '//fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:100,300,400' !default;
$font-family-sans-serif: 'Lato' !default;
$headings-font-family: 'Roboto Slab' !default;
$headings-font-weight: 300 !default;
