!!!
%html
	%head

		-# Title
		!= Decoy::title()

		-# Boilerplate meta tags
		%meta(charset='utf-8')
		%meta(http-equiv='x-ua-compatible' content='ie=edge')
		%meta(name='viewport' content='width=device-width, initial-scale=1')

		-# Don't index the admin
		%meta(name='robots' content='noindex')

		-# CSRF token for lifting out by JS for AJAX requests
		%meta(name='csrf-token' content=csrf_token())

		-# Stylesheets
		%link(rel="stylesheet" href=config('decoy.core.stylesheet') type="text/css")

		-# Passthrough javascript translations
		- $localization = json_encode(__('decoy::javascript'), JSON_HEX_APOS)
		!= "<script>var LOCALIZATIONS = JSON.parse('$localization');</script>";

	%body(class=Decoy::bodyClass())

		-# The main page content
		#main!= $content

		-# JS
		%script(src=config('decoy.core.script') type="text/javascript")
