!!!
%html
	%head

		-# Title
		!= Decoy::title()

		-# Boilerplate meta tags
		%meta(charset='utf-8')
		%meta(http-equiv='x-ua-compatible' content='ie=edge')
		%meta(name='viewport' content='width=device-width, initial-scale=1')

		-# CSRF token for lifting out by JS for AJAX requests
		%meta(name='csrf-token' content=csrf_token())

		-# Stylesheets
		!= Camo::webpackAssetTag('admin.css')

	%body(class=Decoy::bodyClass())

		-# The main page content
		#main!= $content

		-# JS
		!= Camo::webpackAssetTag('admin.js')
