
// Default settings, these should be overrided in app/sass/admin/style.scss
$theme-color: #61c161 !default;
$theme-text: white !default;
$theme-bkgd: url('/packages/bkwld/decoy/img/theme/bkgd.jpg') !default;

// Navbar
.navbar .container {

	// Tell IE to stop doing it's own thing
	filter: none;
	-ms-filter: none;
	padding: 0 15px;

	// Set colors
	color: $theme-text;
	color: rgba($theme-text, .8);
	background: $theme-color;
	@include background(linear-gradient(top, $theme-color, darken($theme-color, 5%)));
	
	// There is a border on the bottom
	border-bottom-color: darken($theme-color, 10%);
	
	// Open dropdown
	.navbar-nav li.dropdown.open > .dropdown-toggle,
	.navbar-nav li.dropdown.open.active > .dropdown-toggle {
		color: $theme-text;
		background: darken($theme-color, 10%);
		@include background(linear-gradient(top, darken($theme-color, 10%), $theme-color));
		@include box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.125));
	}
	
	// Active section
	.navbar-nav > .active > a,
	.navbar-nav > .active > a:hover,
	.navbar-nav > .active > a:focus,
	.navbar-nav li.dropdown.active > .dropdown-toggle {
		color: $theme-text;
		background: darken($theme-color, 10%);
	}
	.navbar-nav li:hover > a {
		color: $theme-text;
	}

	// Fix text shadows
	.navbar-brand, .navbar-nav > li > a {
		color: rgba($theme-text, .8);
		@include text-shadow(0 1px 0 darken($theme-color, 20%));
		&:hover, &:focus {
			color: $theme-text;
		}
	}
	
	// Carret color
	.navbar-nav li.dropdown > .dropdown-toggle .caret,
	.navbar-nav li.dropdown.active > .dropdown-toggle .caret {
		border-top-color: $theme-text;
		border-bottom-color: $theme-text;
		border-top-color: rgba($theme-text, .8);
		border-bottom-color: rgba($theme-text, .8);
	}
	.navbar-nav li.dropdown.open.active > .dropdown-toggle .caret,
	.navbar-nav li.dropdown > a:hover .caret,
	.navbar-nav li.dropdown > a:focus .caret,
	.navbar-nav li.dropdown.open > .dropdown-toggle .caret,
	.navbar-nav li.dropdown.active > .dropdown-toggle .caret,
	.navbar-nav li.dropdown.open.active > .dropdown-toggle .caret {
		border-top-color: $theme-text;
		border-bottom-color: $theme-text;
	}
	
	// Dropdown row :hover
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-submenu:hover > a,
	.dropdown-submenu:focus > a {
		background: $theme-color;
	}
	
	// Active page in dropdown
	.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
		color: $theme-text;
		background: darken($theme-color, 5%);
	}
	
	// Make the icon look a little sunken in
	.gravatar {
		@include box-shadow(0 1px 1px 0 darken($theme-color, 10%));
	}
	
	// The mobile toggle
	.navbar-toggle {
		@include background(linear-gradient(top, lighten($theme-color, 5%), darken($theme-color, 10%)));
	}
	
	// Mobile stuff
	@media (max-width: $bootstrap_nav_break) {
		.navbar-collapse {
		
			// The submenu labels
			.navbar-nav > li > a,
			.dropdown-menu a {
				color: $theme-text;
				color: rgba($theme-text, .8);
				font-weight: normal;
			}
			
			// The hovers on menu items
			.navbar-nav > li > a:hover,
			.navbar-nav > li > a:focus,
			.dropdown-menu a:hover,
			.dropdown-menu a:focus {
				background: none;
				color: $theme-text;
			}
			
			// Active section
			.navbar-nav > .active > a,
			.navbar-nav > .active > a:hover,
			.navbar-nav > .active > a:focus,
			.navbar-nav li.dropdown.active > .dropdown-toggle {
				color: $theme-text;
				background: darken($theme-color, 10%);
			}
		}
	}
	
}

// The selected page within fragments
body.fragments .nav-pills > .active > a, 
body.fragments .nav-pills > .active > a:hover, 
body.fragments .nav-pills > .active > a:focus {
	background: $theme-color;
}

// The login page
body.login.index {
	background: $theme-color;
	@include background(linear-gradient(top, $theme-color, darken($theme-color, 10%)));
	background-position: center center;
	
	// Bkgd image
	@if ($theme-bkgd) {
		.bkgd { background: $theme-bkgd; }
	}

	// Left side
	.branding {
		
		h1 {
			color: $theme-text;
			@include text-shadow(1px 2px 0 darken($theme-color, 15%));
		}
		h4, h4 a {
			color: $theme-text;
			color: rgba($theme-text, .5);
			& a:hover {
				text-decoration: none;
				color: rgba($theme-text, .7);
			}
		}
	}
	
	// Right side
	.form {
		background: $theme-text;
		@include box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.3));
		border: 1px solid darken($theme-color, 10%);
	}
}
