// The header is designed to have both the title and breadcrumbs
// stacked, then on scroll the headline block goes away, but the
// breadgrumbs stay fixed with a semi-transparent white bg
// In addition, the header will have a fixed height with the content
// within it vertically centered
.header {
	margin-left: $nav-width-open;
	@include rgba-background-inline(rgba(#fff, .98));
	padding: 10px;
	height: $header-height;
	@include vertical-align;
	
	.inner {
		display: inline-block;
		vertical-align: middle;
	}

	h1 {
		padding: 0;
		margin: 0;
		font-weight: 900;
		font-size: 20px;
		text-transform: uppercase;
	}

	// Gravatar sizing
	.gravatar {
		width: auto;
		height: 24px;
	}

	.user {
		position: absolute;
		top: 10px;
		right: 20px;
	}
}