// Contains the top navbar
.nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: $nav-width-open;
	background-color: $gray-dark;
	color: lighten($gray-light, 20%);

	a, a:hover {
		text-decoration: none !important;
	}

	.box.box-admin {
		background-color: $teal;
		color: $gray-dark;
		text-align: center;
		height: $header-height;
		@include vertical-align;

		span {
			width: 90%;
			margin: 0 auto;
			display: inline-block;
			vertical-align: middle;
			font-weight: 900;
			font-size: 20px;
			text-transform: uppercase;
			color: darken($teal, 25%);
		}
	}

	.top-level-nav {
		padding: 0;
		margin: 0;


		a {
			display: block;
			height: 40px;
			@include vertical-align;
			text-align: center;
			border-bottom: 1px solid lighten($gray-dark, 3%);

			.text {
				display: inline-block;
				vertical-align: middle;
				color: lighten($gray-dark, 35%);
				font-weight: $headings-font-weight;
				font-weight: 500;
				font-size: 12px;
			}

			&:hover {
				background-color: lighten($gray-dark, 5%);
				.text { color: lighten($gray-dark, 55%); }
			}
		}
	}
}