
// Spinning animation
@-webkit-keyframes spin {
	0% { @include rotate(0deg); }
	100% { @include rotate(360deg); }
}

// The icon the admin clicks on to open the elements editor
.decoy-el-icon {
	$color: $theme-primary-color;
	$color-inverse: $theme-primary-inverse;
	$color-active: $grey-border;
	$tween-length: 200ms;

	// Positioning
	position: absolute;
	cursor: pointer;
	z-index: $zindex-tooltip;

	// Only apply transitions after it's inited to prevent weird tween in
	&.decoy-el-init {
		@include transition(left $tween-length, top $tween-length);
		&:after {
			@include transition(border $tween-length);
		}
	}

	// Make the round part of icon
	$size: 20px;
	.decoy-el-mask {

		// Style like circle
		display: block;
		width: $size;
		height: $size;
		background: $color;
		@include border-radius($size);

		// Hide the iframe
		overflow: hidden;

		// Put above the arrow
		position: relative;
		z-index: 1;

		// Animate
		border: 1px solid transparent;
		@include transition(
			border $tween-length, 
			width $tween-length, 
			height $tween-length, 
			box-shadow $tween-length,
			border-radius $tween-length
		);
	}

	// Build the arrow part of icon
	$arrow-size: 6px;
	$arrow-offset: 2px - $arrow-size;
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
	}

	// Tweak position of icon position
	&.top    { margin-top:  -$arrow-size; }
	&.right  { margin-left:  $arrow-size; }
	&.bottom { margin-top:   $arrow-size; }
	&.left   { margin-left: -$arrow-size; }

	// Handle different orientations
	&.top:after {
		bottom: $arrow-offset;
		left: 50%;
		margin-left: -$arrow-size;
		border-width: $arrow-size $arrow-size 0;
		border-top-color: $color;
	}
	&.decoy-el-open.top:after { border-top-color: $color-active }
	&.top-left:after {
		bottom: $arrow-offset;
		left: $arrow-size;
		border-width: $arrow-size $arrow-size 0;
		border-top-color: $color;
	}
	&.decoy-el-open.top:after { border-top-color: $color-active }
	&.top-right:after {
		bottom: $arrow-offset;
		right: $arrow-size;
		border-width: $arrow-size $arrow-size 0;
		border-top-color: $color;
	}
	&.decoy-el-open.top:after { border-top-color: $color-active }
	&.right:after {
		top: 50%;
		left: $arrow-offset;
		margin-top: -$arrow-size;
		border-width: $arrow-size $arrow-size $arrow-size 0;
		border-right-color: $color;
	}
	&.decoy-el-open.right:after { border-right-color: $color-active }
	&.left:after {
		top: 50%;
		right: $arrow-offset;
		margin-top: -$arrow-size;
		border-width: $arrow-size 0 $arrow-size $arrow-size;
		border-left-color: $color;
	}
	&.decoy-el-open.left:after { border-left-color: $color-active }
	&.bottom:after {
		top: $arrow-offset;
		left: 50%;
		margin-left: -$arrow-size;
		border-width: 0 $arrow-size $arrow-size;
		border-bottom-color: $color;
	}
	&.decoy-el-open.bottom:after { border-bottom-color: $color-active }
	&.bottom-left:after {
		top: $arrow-offset;
		left: $arrow-size;
		border-width: 0 $arrow-size $arrow-size;
		border-bottom-color: $color;
	}
	&.decoy-el-open.bottom:after { border-bottom-color: $color-active }
	&.bottom-right:after {
		top: $arrow-offset;
		right: $arrow-size;
		border-width: 0 $arrow-size $arrow-size;
		border-bottom-color: $color;
	}
	&.decoy-el-open.bottom:after { border-bottom-color: $color-active }

	// Make the spinner icon
	.decoy-el-spinner {

		// Style it
		$size: 12px;
		font-size: $size;
		color: $color-inverse;

		// Center it
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -$size/2;
		margin-top: -$size/2;

		// Put it on top of the mask
		z-index: 2;
		
		// Animate it
		-webkit-animation: spin .75s infinite linear;
	}

	// Give the iframe a fixed width so the height can be properly calculated
	iframe {
		width: 450px;
		@media (max-width: $screen-xs) {
			width: 300px;
		}

		// Hide by default
		@include opacity(0);
		@include transition(opacity $tween-length);
		&.decoy-el-show {
			@include opacity(1);
		}

		// Fade it out while it's saving
		&.decoy-el-disable {
			@include transition(opacity 500);
			@include opacity(.3);
		}
	}

	// Opened styles
	&.decoy-el-open {

		// Put it over closed icons
		z-index: $zindex-tooltip + 1;

		// Make spinner bigger during the saving, spin moment
		.decoy-el-spinner {
			$size: 20px;
			font-size: $size;
			margin-left: -$size/2;
			margin-top: -$size/2;
		}

		// Style the icon like a Decoy @panel
		.decoy-el-mask {
			border: 1px solid $grey-border;
			@include box-shadow($common-shadow);
			@include border-radius(4px);
		}
	}
	
}

// Elements testing styles
#elements-tests {

	.float-right {
		float: right;
	}

}