/**
 * The changes listing
 */
.changes.index .listing {

	// Reduce the size of the admin icon
	.activity img {
		width: 24px;
	}

	// Fix bolding increasing the font size with this font
	.activity b {
		font-size: 13px;
	}

	// Improve horizontal alignment
	.glyphicon-filter {
		position: relative;
		top: 2px;
	}

}