body.fragments {
	
	.fragments-wrap {
		position: relative;
	}

	.frag-main-col {
		margin-right: $frag-sidebar-width+60;
	}

	.frag-sidebar {
		width: $frag-sidebar-width;
		position: absolute;
		right: 0;
		top: 0;
	}

	// This was creating scrollbars
	.tab-content {
		overflow: visible;

		// Increase the padding a bit
		@media(min-width: $screen-sm + 1px) {
			padding-left: $grid-gutter-width;
		}
	}
	
	// Make it flush
	.tab-pane {
		@include flush-cols;
		@media(max-width: $screen-sm) {
			@include flush-cols(false)
		}
		
		// Space sections
		> div {
			margin-bottom: 20px;
		}
	}
	
	// Make the pills grey scale
	.nav-pills a {
		color: $gray-dark;
		background: $light-grey;
		font-size: 12px;
		padding: 7px 9px;
		@include border-radius(2px);

		&:hover {
			color: white;
			background: $gray-dark;
		}
	}
	.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
		color: white;
		background: $gray-dark;
	}
	
	// Fix positioning at all breakpoints.  Bootstrap span rules tweak this.
	.nav-pills {
		margin-left: 0;
	}
	
	// Breaking changes
	@media(max-width: $screen-sm) {
		.frag-main-col {
			width: 100%;
			padding: 30px;
			padding-bottom: 100px;
		}

		// Make the pills float on mobile
		.nav-pills li {
			float:left;
			margin-right: 4px;
			margin-top: 4px;
		}

		.frag-sidebar {
			width: 100%;
			padding: 10px 30px 0 30px;
			position: relative;
			right: 0;
			top: 0;
		}
	}
	
}