-$auth = app('decoy.user')
.top
	%a.dashboard(href=$auth->getUserUrl())
		%img.gravatar(src=$auth->getUserPhoto())
		%span.name
			-if(($name = $auth->getShortName()) == "Default")
				!= __('decoy::sidebar.account.welcome')
			-else
				!= __('decoy::sidebar.account.welcome_admin', ['name' => $name])
	%a.btn.outline.close-nav
		%span.glyphicon.close.glyphicon-remove
