-# Holder for the ajax bar, logout, and view public site
.bottom-nav
	-# Add AJAX progress indicator
	!= View::make('decoy::layouts.sidebar._progress')->render()

	.controls
		.left
			%a.logout(href=route('decoy::account@logout'))
				%span.glyphicon.glyphicon-log-out
				!= __('decoy::sidebar.bottom.logout')
			.subtitle
				%span.glyphicon.glyphicon-heart
				%a(href="http://decoy.bukwild.com" target="_blank") Decoy 5.10
				by
				%a(href="http://www.bukwild.com" target="_blank") Bukwild
		%a.right(href="/")
			.glyphicon.glyphicon-globe
			.subtitle!= __('decoy::sidebar.bottom.open_site')
