-if(!app('decoy.user')) return;

.sidebar
	!= View::make('decoy::layouts.sidebar._account')->render()
	!= View::make('decoy::layouts.sidebar._nav')->render()

!= View::make('decoy::layouts.sidebar._bottom')->render()
