.standard-list .legend {

	// Space out the stats in the legend
	.stat {
		margin-right: $table-cell-padding-horizontal;
	}

	// Push badges over a tad
	.badge {
		margin-left: 3px;
		background: rgba($theme-secondary-inverse, .7);
		color: $theme-secondary-color;

		// Nudge it up a bit
		position: relative;
		top: -1px;
	}

	// Remove the .pull-right's right margin because
	// it looks better justified to the actions
	body.index & > .pull-right.btn-toolbar {
		margin-right: -1px;
	}

}