// The search interface
.search {

	// Set a breakpoint optimized for the search bar to fit on mobile
	$break-search: 585px;
	$search-bkgd: darken($light-grey, 3%);
	$search-shadow: darken($search-bkgd, 5%);

	// The container for the form
	margin: 0;
	background: $light-grey;
	@include border-radius(4px 4px 0 0);
	text-align: center;
	background: $search-bkgd;
	@include box-shadow(darken(white, 20) 0px 1px 3px 0 inset);
	overflow: hidden;
	color: darken(white, 50);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	display: none;
	width: 100%; // Need for mobile sizes for some reason
	
	// Specifying padding an inside container so it doesn't animate
	.conditions {
		padding: 2px;
		display: inline-block;
		position: relative;
		text-align: right;
		box-sizing: border-box;
		margin-right: 92px; // Compensate for the submit button in centering

		// Making the conditions box full width on break and reset the alignment
		@media (max-width: $break-search) {
			text-align: initial;
			margin-right: 0px;
			width: 100%;
		}
		
		// Center the labels on the left
		.intro {
			position: relative;
			top: 2px;
		}
		 
		// Line spacing
		.condition { 
			margin: 5px;

			// Push contents off the right side of the container to make room
			// for the add buttons.  And do alternating colors for each row
			@media (max-width: $break-search) {
				margin: 0px;
				padding: 5px 43px 5px 5px;
				position: relative;

				// Adding background color on every other condition to make it more
				// noticeable where the sections are
				&:nth-child(even) {
					background: #e3e3e3;
				}
			}
		}
		
		// The labels (label tags and selectors are used by bootstrap)
		@media (max-width: $main-break) {
			.intro {
				display: none;
			}
		}
		
		// The add/minus buttons
		.add, .subtract {
			$radius: 15px;
			@include border-radius($radius);
			width: $radius*2;
			height: $radius*2;
			padding: 0;

			// When stacked, position vertically between the stack and on the right
			@media (max-width: $break-search) {
				position: absolute;
				right: 5px;
				top: 26%;
			}
		}
		
		// The search button
		button[type="submit"] {
			position: absolute;
			bottom: 7px;
			right: -85px; // Harcoded estimation of width ... wish i had a smarter approach

			// When the search fields expand on mobile, position the serach button below them
			// and make it match the width of fields
			@media (max-width: $break-search) {
				position: relative;
				bottom: 0px;
				right: 0;
				left: -1px;
				width: 98%;
				margin: 5px;
			}
		}
		
		// Make all the inputs the same size
		$width: 135px;
		input, select, .input-group {
			@include box-sizing(border-box);
			width: $width;
			@media (max-width: $break-search) {
				width: 100%;
			}
		}
		
		// Override BS which wants to break to block earlier than we want to
		input, select { display: inline-block; }
		.input-group { 
			display: inline-table; 
			vertical-align: middle;
			.input-field { width: 100%; }
		}

		// Space out the inputs, which are butted right up to each other cause of JS
		.condition > * {
			margin: 0 2px;
			
			// After the first break, remove the left margin on the first item to make
			// the rows horiztonally center better
			@media (max-width: $main-break) {
				&.fields {
					margin-left: 0;
				}
			}

			// Space out vertically stacked
			@media (max-width: $break-search) {
				margin: 2px 0;
			}
		}
		// make sure the fields all fit the same
		.comparisons {
			@media (max-width: $break-search) {
				width: 46%;
				margin-right: 1%;
			}
		}
		.input-field {
			
			// Reduce text field padding.  This loosk best on Chrome
			&[type="text"] {
				padding-left: 8px; 
				padding-right: 8px; 
			}
			
			// Break
			@media (max-width: $break-search) {
				width: 52%;
				margin-left: 1%;
			}
		}

		// mobile date picker input
		@media (max-width: $break-search) {
			.input-group.input.date {
				margin: 0;
			}
			.input.date {
				width: 52%;
			}
			.input-group .input-group-addon {
				position: relative;
				right: 25px;
			}
		}
	}
}

// Special styles for animating the clear button.  Namespaced here so this could be removed
// without much trouble
.animated-clear {
	.search-toggle {
		z-index: 2;
		margin-right: 39px;
	}
	.search-clear {
		z-index: 1;
		position: absolute;
		right: 0;
	}
	&.closed {
		.search-toggle { margin-right: 0;}

		// When closed, don't look like a button group
		.btn { 
			border-radius: $border-radius-base !important; 
		}
	}
	
	// Only animate after the initial page load
	&.initialized .search-toggle {
		@include transition(margin-right 400ms ease-out);
	}
}

// Setting the datepicker field to be visible when viewed on mobile, and not get pushed
// off the right of the screen
.datepicker {
  @media (max-width: 577px) {
    left: initial !important;
    right: 14%;
  }
}
.datepicker:before {
  @media (max-width: 577px) {
    right: 36px;
    left: initial;
  }
}
.datepicker:after {
  @media (max-width: 577px) {
    right: 37px;
    left: initial;
  }
}


