/**
 * Styles a div like the fieldset boxes
 */
@mixin panel {

	// Make a box
	background: white;
	border: 1px solid $grey-border;
	@include box-shadow($common-shadow);
	@include border-radius(4px);

	// Just in case
	@include clearfix;

	// Push them vertically apart
	margin-bottom: $form-group-margin*2;
	@media(max-width:$screen-sm) {
		margin-bottom: $main-padding-mobile;
	}

	// Make sure long words (like filenames on mobile) to bust outside the
	// container
	word-wrap: break-word;
}

/**
 * Remove panel styling
 */
@mixin no-panel {
	background: none;
	border: none;
	margin: 0;
	@include box-shadow(none);
}