/**
 * The submit buttons on form pages
 */

// Fix the controls above everything so you can save from the top of the page
.form-actions {
	position: fixed;
	bottom: 0;
	z-index: 300; // clear everything (including jCrop)
	width: 100%;
	padding: 0 $main-padding;
	text-align: left;
	@include adjust-for-sidebar(left);

	// Give it a fixed height
	height: $footer-height;
	line-height: $footer-height + 2px; // Vertical center

	// Eyeballed this to make it the same effective color as bkgd when overlapping
	background: rgba(darken($body-color, 5%), .7);

	// Adjust for the sidebar going away
	@media(max-width:$screen-sm) {
		padding: 0 $main-padding-mobile;
	}

	// Make them fit on one line mobile
	@media(max-width:$screen-xs) {

		// Apply Bootstrap's btn-sm styling
		.btn { 
			@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
		}
	}
}