/**
 * The submit buttons on form pages
 */

// On vertical forms, don't push actions over
.form-vertical .form-actions {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 150; // goes above the content but UNDER the sidebar
	width: 100%;
	padding: 10px 10px 5px 10px;
	@include rgba-background-inline(rgba(#fff, .7));
	margin-left: 0;
	text-align: right;
}

// The actions btns should have a bottom margin so they wrap to multiple
// lines nicer
.form-actions .btn {
	margin-bottom: 5px;

	// on mobile, extend the btn-sm class so the buttons are smaller
	@media(max-width:$screen-xs) {

		// since I can't seem to make use of @extend
		// I am mimicking the styles for .btn-sm of bootstrap
		// Not ideal, but it works great
		padding: 3px 7px;
		font-size: 12px;
		line-height: 1.5;
		@include border-radius(3px);
	}
}
