/**
 * The submit buttons on form pages
 */

// Fix the controls above everything so you can save from the top of the page
.form-actions {
	position: fixed;
	bottom: 0;
	left: $sidebar-width;
	z-index: 150; // goes above the content but UNDER the sidebar
	width: 100%;
	padding: 0 $main-padding;
	text-align: left;

	// Give it a fixed height
	height: $footer-height;
	line-height: $footer-height + 2px; // Vertical center

	// Eyeballed this to make it the same effective color as bkgd when overlapping
	background: rgba(darken($body-color, .05%), .7);
}

// The actions btns should have a bottom margin so they wrap to multiple
// lines nicer
.form-actions .btn {
	margin-bottom: 5px;

	// on mobile, extend the btn-sm class so the buttons are smaller
	@media(max-width:$screen-xs) {

		// since I can't seem to make use of @extend
		// I am mimicking the styles for .btn-sm of bootstrap
		// Not ideal, but it works great
		padding: 3px 7px;
		font-size: 12px;
		line-height: 1.5;
		@include border-radius(3px);
	}
}