
// Former is setting a class of "radio" on inline
// radio elements.  It should ONLY have radio-inline.  As
// a result, an incorrect margin-top is being added.  This
// rule clears it and other settings
// http://yo.bkwld.com/image/0D3a1q1T1q1z
// https://github.com/Anahkiasen/former/pull/375
.form-vertical .radio-inline {
	margin-top: 0;
	min-height: 0;
	position: static;
}

// Add spacing after checkaxbles
.form-vertical .form-inline {
	input[type="checkbox"], input[type="radio"] {
		margin-right: 5px;
	}
}

// Reduce bootstrap's vertical margins
.radio, .checkbox {
	margin-top: 5px;
	margin-bottom: 5px;
}

// Put the margins on the right rather than the left
// https://github.com/BKWLD/decoy/issues/360
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline { margin-left: 0; }
.radio-inline, .checkbox-inline { 
	margin-right: 10px; 
	&:last-child { margin-right: 0; }
}