
// Add spacing after checkaxbles
.form-vertical .form-inline {
	input[type="checkbox"], input[type="radio"] {
		margin-right: 5px;
	}
}

// Reduce bootstrap's vertical margins
.radio, .checkbox {
	margin-top: 5px;
	margin-bottom: 5px;
}

// Put the margins on the right rather than the left
// https://github.com/BKWLD/decoy/issues/360
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline { margin-left: 0; }
.radio-inline, .checkbox-inline { 
	margin-right: 10px; 
	&:last-child { margin-right: 0; }
}

// Remove unnecessary Bootstrap top padding after break
@media (max-width: $screen-sm) {
	.form-horizontal {
		.radio,
		.checkbox,
		.radio-inline,
		.checkbox-inline {
		  padding-top: 0;
		}
	}
}