/**
 * Fieldset group blocks of fields with a legend for a title
 */
form fieldset, .related .standard-list, body.index .standard-list {

	// Surround sections in a white box
	$pad: 15px;
	background: white;
	border: 1px solid $grey-border;
	@include box-shadow($common-shadow);
	@include border-radius(4px);
	padding: 0 $pad; // No vertical pad cause of legend and form-group padding

	// Push them vertically apart
	margin-bottom: $form-group-margin*2;

	@media(max-width:$screen-sm) {
		margin-bottom: $main-padding-mobile;
	}

	// Don't use an actual legend because it inherits weird positioning
	// from the browser when put in a fieldset
	.legend {		

		// Set the font so links get it too
		&, > a { 
			color: $theme-secondary-inverse;
			font-weight: $headings-font-weight;
			font-family: $headings-font-family;
			font-size: 16px;
		}

		// Give it a background
		background: $theme-secondary-color;
		margin: 0 (-$pad);
		padding: 7px $pad; // 7px makes it about as high as table th's

		// Push the first form-group or p down a bit (but not tables)
		+ .form-group, + p {
			margin-top: 10px;
		}

		// If something is pulled-right, give it a max width.  This is designed to
		// constrain the autocomplete form on many to manys but may of other,
		// useful, ramifications
		> .pull-right {
			max-width: 50%;

			// Also, nudge it up a bit to make it vertically centered
			margin-top: -2px;

			// And, move it right so the right gap is the same as the top-bottom one
			margin-right: -10px;

			// Reset the font
			font-family: $font-family-sans-serif;
		}

		@media(max-width: $screen-sm) {
			padding-left: 8px;
		}
	}

	// Add form-group's hover, a little border on the left
	.form-group {
		$border-stroke: 2px;
		border-left: $border-stroke solid transparent;
		padding-left: ($pad - $border-stroke);
		margin-left: -$pad;
		&:hover {
			border-left-color: $grey-border;
		}
	}

	// Make the related tables flush
	&.standard-list {
		padding: 0;
		.legend { margin: 0; }
		.listing { margin-bottom: 0;}

		// Put padding on the cells so that the normal fieldset padding looks
		// maintained
		th:first-child, td:first-child { padding-left: $pad; }
		th[class*='actions'], td[class*='actions'] { padding-right: $pad; }

		// Remove the last row border
		tr:last-child td { border-bottom: none; }
	}

}