// All labels on vertical forms are on their own line. This
// fixes issues with inline radio fields displaying wrong:
// http://yo.bkwld.com/image/130i1B2o070b
.form-vertical .control-label {
	display: block;
}

// Former is setting a class of "radio" on inline
// radio elements.  It should ONLY have radio-inline.  As
// a result, an incorrect margin-top is being added.  This
// rule clears it and other settings
// http://yo.bkwld.com/image/0D3a1q1T1q1z
// https://github.com/Anahkiasen/former/pull/375
.form-vertical .radio-inline {
	margin-top: 0;
	min-height: 0;
	position: static;
}

// Highlight each control group on rollover
.form-group {
	padding: $form-group-pad;
	margin: -$form-group-pad;
	@include border-radius(4px);
	margin-bottom: 15px;
	input, textarea, select {
		margin-bottom: 0;
	}
	&:hover {
		background-color: $light-grey;
	}
	&.error:hover {
		background-color: $state-danger-bg; // This is the Boostrap error bkgd red color
	}
}

// The actions btns should have a bottom margin so they wrap to multiple
// lines nicer
.form-actions .btn {
	margin-bottom: 5px;
}

// Toning down the required icons
.glyphicon.required {
	@include opacity($light-opacity);
	&:hover {
		@include opacity(1);
	}
}

// Make the Bootstrap tooltips not inherit text shadow
.tooltip {
	@include text-shadow(none);
}