// All labels on vertical forms are on their own line. This
// fixes issues with inline radio fields displaying wrong:
// http://yo.bkwld.com/image/130i1B2o070b
.form-vertical .control-label {
	display: block;
}

// ... however, if a control group is set to form-inline, respect it
.form-vertical .form-inline .control-label {
	display: inline-block;
	margin-right: 10px;
}

// Former is setting a class of "radio" on inline
// radio elements.  It should ONLY have radio-inline.  As
// a result, an incorrect margin-top is being added.  This
// rule clears it and other settings
// http://yo.bkwld.com/image/0D3a1q1T1q1z
// https://github.com/Anahkiasen/former/pull/375
.form-vertical .radio-inline {
	margin-top: 0;
	min-height: 0;
	position: static;
}

// Seperate from one another
.form-group {
	margin-bottom: $form-group-margin;
}

// Required field icons
.glyphicon.required {

	// Toning down the required icons
	@include opacity($light-opacity);
	&:hover {
		@include opacity(1);
	}

	// Fix the tooltips on horizontal forms which were wrapping
	// to two lines
	& + .tooltip {
		white-space: nowrap;
	}
}

// Make the Bootstrap tooltips not inherit text shadow
.tooltip {
	@include text-shadow(none);
}

// Change the margins on the help block
.help-block {
	margin-bottom: 0;
}

// Make textareas 4 lines long
textarea.form-control {
	height: 6.8em;
}

// Parapraphs inside of the form are for larger description blocks.  Given
// them more padding
form > p {
	margin-bottom: 20px;
}
