// Tweaks for legends
legend {

	// Add additional spacing above every legend but the first when NOT 
	// in the related column.  Putting the form restriction there is enough
	// to ensure that
	form &:nth-of-type(1n+2) {
		margin-top: 30px;
	}

	// If something is pulled-right, give it a max width.  This is designed to
	// constrain the autocomplete form on many to manys but may of other,
	// useful, ramifications
	> .pull-right {
		max-width: 50%;
	}

	// For the title of a pivot legend
	small img {
		height: 15px;
	}

}