
/**
 * The locale field in the edit form
 */
.form-group.locale {

	// Make the whole label for a disabled radio look disabled
	.radio input[disabled] + .locale-label {
		color: rgba($text-color, $light-opacity);

		// Make the link more legible
		a {
			color: rgba($text-color, $light-opacity*2);
			border-bottom: $link-border;
			&:hover {
				color: $text-color;
			}
			&:active {
				color: $theme-primary-color;
			}
		}
	}

}

/**
 * The sidebar localization UI
 */
fieldset.localize {

	// Put a link on the compare model reference
	.compare .radio a {
		border-bottom: $link-border;
	}

	// Push the submit button away from the help text
	.create .btn {
		margin-top: 10px;
	}

}