/**
 * This is the form that appears in a sidebar .legend
 */
.many-to-many-form {

	// Fade out the button even more
	.btn.outline[disabled] {
		@include opacity($light-opacity);
	}

	// Simplify the styling the input more outline-y
	.form-control {
		@include box-shadow(none);
		outline: none;
		background: none;

		// Apply colors based on where it's located
		.legend & {
			border-color: rgba($theme-secondary-inverse, .85);
			color: $theme-secondary-inverse;
			// Could not use rgba, wasn't supported by browser
			@include input-placeholder { color: $theme-secondary-inverse; }
		}
		.header & {
			border-color: rgba($theme-primary-inverse, .85);
			color: $theme-primary-inverse;
			@include input-placeholder { color: $theme-primary-inverse; }
		}
	}

	// container for search icon and input field
	.add-contributors {
		display: inline-block;
		position: relative;

		.glyphicon-search {
			font-size: 14px;
			position: absolute;
			left: 5px;
			top: 5px;
		}
		.twitter-typeahead {
			width: auto;

			input {
				float: right;
				@include transition(all .5s ease);
				padding-left: 23px;
				width: 54px;
				&:focus {
					width: 125px; // pixel width so the whole field can smoothly transition
				}
				&[disabled] {
					background: none !important; // to override the bootstrap !important background
				}
			}
		}
	}
}