/**
 * This is the form that appears in a sidebar .legend
 */
.many-to-many-form {

	// Fade out the button even more
	.btn.outline[disabled] {
		@include opacity($light-opacity);
	}

	// Simplify the styling the input more outline-y
	.form-control {
		@include box-shadow(none);
		outline: none;
		background: none;

		// Apply colors based on where it's located
		.legend & {
			border-color: rgba($theme-secondary-inverse, .85);
			color: $theme-secondary-inverse;
			// Could not use rgba, wasn't supported by browser
			@include input-placeholder { color: $theme-secondary-inverse; }
		}
		.header & {
			border-color: rgba($theme-primary-inverse, .85);
			color: $theme-primary-inverse;
			@include input-placeholder { color: $theme-primary-inverse; }
		}
	}

	// Customize the menu further
	.tt-dropdown-menu {
		font-size: 12px;
	}

}