.many-to-many-checklist {

	// Make the checkboxes vertically centered if there are images
	// as part of the label titles
	input[type="checkbox"] {
		position: relative;
		margin-right: 8px;
	}

	// Push the text of the image in titles
	img {
		padding-right: 8px;
		width: 30px;
	}

	// Layout the items in two columns
	&.two-col {

		// Account for the margins and pull the list up
		.control-label {
			margin-bottom: -5px;
		}

		// Make cols
		.checkbox {
			display: inline-block;
			background-color: #f9f9f9;
			width: 45%;
			@include border-radius(3px);
			padding: 10px 10px 5px 10px;
			margin-right: 7px;
			
			@media (max-width: $screen-xs) {
				width: auto;
				display: block;
			}
		}

		// Ellipsis long labels
		label {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			padding-right: 10px;
		}

	}
}
