// Related content sidebar
.related {
	
	// This is the title unit
	legend {
		margin-bottom: 0;
		
		// The count needs shifting up a tad
		.badge {
			position: relative;
			top: -2px;
		}
		
		// Make the link in the title less obstrusive
		& a {
			color: $near-black;
			&.btn-info {
				color: white;
			}
		}
		
		// Autocomplete form
		form {
			margin: 0;
			line-height: 0;
		}
	}
	
	// Move the "see full list" link up to overlap the bottom line of th elist
	.full-list {
		margin-top: -22px;
	}

}
