
// Skin video encoder
.form-group.video-encoder {

	// Format the progress bar
	.progress {
		margin-bottom: 0;
		.progress-bar {
			font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
			font-size: 12px;
			@include text-shadow(none);
			text-transform: capitalize;
		}
	}

	// The video player
	video {

		// Push off top
		margin-top: 5px;

		// Make ti scale 
		max-width: 100%;
	}

}
