---
---

@import "{{ site.theme }}";

// Seperate the sidebar from the body after break
header {
	margin-bottom: 20px;
}

// Add margins above and below hrs
hr {
	margin: 20px 0;
}

// Fix spacing of headers in the sidebar
nav {
	h3:not(:first-child) {
		margin-top: 30px;
		margin-bottom: 15px;
	}
}

// Increase the spacing between h2s in docs
section.page h2:not(:first-child) {
	margin-top: 40px;
}

// Give inlinde code blocks a bkgd
code.highlighter-rouge {
	background: #f8f8f8;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	padding: 0px 5px;
}

// Style images
img {
	max-width: 100%;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	border: 1px solid #eee;
	border-radius: 5px;
}
