---
---

@import "{{ site.theme }}";

// Seperate the sidebar from the body after break
header {
	margin-bottom: 20px;
}

// Add margins above and below hrs
hr {
	margin: 20px 0;
}

// Fix spacing of headers in the sidebar
nav {
	h3:not(:first-child) {
		margin-top: 30px;
		margin-bottom: 15px;
	}
}

// Increase the spacing between h2s in docs
section.page h2:not(:first-child) {
	margin-top: 40px;
}
