.bottom-nav {
	position: fixed;
	bottom: 0;
	width: $sidebar-width;
	padding: 0 10px;
	background-color: darken($gray-dark, 6%);
	border-top: 1px solid darken($gray-dark, 5%);
	z-index: 311; // to bump the bottom area above the sidebar by 1 index
	@include gpu-cache;

	// Give it a fixed height
	height: $footer-height;
	line-height: $footer-height; // Vertical center

	@media(max-width:$screen-sm) {
		left: -$sidebar-width;
	}

	&.show {
		left: 0;
	}

	a {
		color: #ddd;
		font-weight: 300;
		font-size: 12px;
		display: inline;
		float: left;

		&.public-site {
			font-size: 14px;
			position: relative;
			float: right;
			top: 22px;
			right: 10px;
		}

		&:hover {
			color: #fff;
		}

	}
}