.sidebar .top {
	padding: 10px;
	overflow: hidden;
	position: relative;

	.name {
		display: inline-block;
		color: #dedede;
		padding-left: 4px;
	}

	$profile-size: 20px;
	.gravatar-wrap {
		position: relative;
		top: 3px;
		display: inline-block;
		width: $profile-size;
		height: $profile-size;
		overflow: hidden;
		
		img {
			width: 100%;
		}
	}
}