.breadcrumbs {
	background-color: darken(white, 3%); // Just a little off-white
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 150; // this is to clear the crop image UI
	font-size: 12px;
	@include box-shadow($common-shadow);
	padding: 0 $main-padding;

	// Add a border so that when it goes fixed, it lines up with the border on the nav
	border-top: $nav-top-border-height solid $theme-color;

	// Set a height and vertical center
	height: $breadcrumb-height;
	line-height: $breadcrumb-height - $nav-top-border-height;

	a, span {
		color: #666;

		.glyphicon { display: inline-block; padding: 0 2px; }
	}

	// Some breadcrumb titles make include thumbnails
	img {
		height: 12px;

		// Push label off of it
		margin-right: 4px;

		// Vertical centering
		position: relative;
		top: -2px;
	}

	// The back button
	.back {
		float: right;
	}

	&.affix {
		@include rgba-background-inline(rgba(#fff, .93));
		position: fixed;
		margin-left: $nav-width-open;

		// on mobile, I need to make the margin 0, so the crumbs span the whole width
		@media(max-width:$mobile) {
			margin-left: 0;
		}
	}
}