.breadcrumbs {
	background-color: #e9e9e9;
	padding: 5px 10px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	font-size: 12px;

	a {
		color: #666;
	}

	&.affix {
		@include rgba-background-inline(rgba(#fff, .93));
		position: fixed;
		margin-left: $nav-width-open;
	}
}