.breadcrumbs {
	background-color: #e9e9e9;
	padding: 5px 10px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	font-size: 12px;

	a, span {
		color: #666;

		.glyphicon { display: inline-block; padding: 0 2px; }
	}

	// Some breadcrumb titles make include thumbnails
	img {
		height: 12px;

		// Push label off of it
		margin-right: 4px;

		// Vertical centering
		position: relative;
		top: -2px;
	}

	// The back button
	.back {
		float: right;
	}

	&.affix {
		@include rgba-background-inline(rgba(#fff, .93));
		position: fixed;
		margin-left: $nav-width-open;
	}
}