// The header is designed to have both the title and breadcrumbs
// stacked, then on scroll the headline block goes away, but the
// breadgrumbs stay fixed with a semi-transparent white bg
// In addition, the header will have a fixed height with the content
// within it vertically centered
.header {
	background-color: $theme-color;
	margin-left: $nav-width-open;
	padding: $main-padding;

	// Reduce the bottom by the border on breadcrumbs which has
	// the same bkgd
	padding-bottom: $main-padding - $nav-top-border-height;

	// The site and controller
	.title {
		font-size: 46px;
		color: $theme-text;
		margin: 0; // Reset BS

		// The site name
		.site {
			font-weight: 400;
		}

		// The controller title
		.controller {
			font-weight: 200;
		}
	}

	// Count of posts
	.badge {
		position: relative;
		top: -5px;
		background-color: $gray-dark;
	}

	// Buttons on the far right right should be vertically
	// justified with the title
	.pull-right {
		margin-top: 10px;
	}

	// Description
	.description {
		font-size: 22px;
		color: rgba($theme-text, .5);
		margin: 0; // Reset BS
		margin-top: 3px;
		line-height: 1.4em;
	}

}