// Title
h1 {
	margin: 30px auto;

	// Count of posts
	.badge {
		position: relative;
		top: -5px;
		background-color: $gray-dark;
	}
	
	// Elements in the title area
	.btn-toolbar {

		// Push the h1 description away from it so it can't but up against it
		margin-left: 20px;

		// Tweak vertical positioning, this looks better
		margin-top: 6px;
		
	}	
}

