.table {

	// If the table is in a form group, don't add bottom margin
	.form-group & {
		margin-bottom: 0;
	}
	
	// Row that contains bulk action interface
	tr.warning, tr.error {
		td {
			text-align: center;
			vertical-align: center;
		}
	}
	
	// If there are multiple badges in a row, give them a little breathing roomt
	.label {
		margin: 0 2px;
	}
	
	// This is the icon that indicates whether a row is visible or not
	.visibility {
		width: 14px;
		height: 14px;
		padding: 1px;
		display: inline-block;
		border: 1px inset #EEE;
		line-height: 0;
		position: relative;
		top: 2px;
		
		// Icons have a margin top from bootstrap
		i { margin-top: 0;}
	}
	
	// Fix placement of actions tooltips
	td .tooltip.left {
		margin-left: -10px;
	}
	
	// Add sorting rules
	@import "_sorting";
}