.table {

	// If the table is in a form group, don't add bottom margin
	.form-group & {
		margin-bottom: 0;
	}
	
	// Row that contains bulk action interface
	tr.warning, tr.error {
		td {
			text-align: center;
			vertical-align: center;
		}
	}
	
	// Vertically center align all cells, for rows with image thumbnails in there
	td {
		vertical-align: middle;
		input[type="radio"], input[type="checkbox"] {
			margin: 0;
		}
	}
	
	// Give images a border
	tr img {
		border: 1px solid $grey-border;
		@include box-sizing(border-box);

		// Pushes subsequent text off the edge of the image, usually a thumbnail
		margin-right: 5px;
	}
	
	// Make gravatar images a good size (for the admins view)
	.gravatar {
		width: 40px;
		height: 40px;
	}
	
	// If there are multiple badges in a row, give them a little breathing roomt
	.label {
		margin: 0 2px;
	}
	
	// This is the icon that indicates whether a row is visible or not
	.visibility {
		width: 14px;
		height: 14px;
		padding: 1px;
		display: inline-block;
		border: 1px inset #EEE;
		line-height: 0;
		position: relative;
		top: 2px;
		
		// Icons have a margin top from bootstrap
		i { margin-top: 0;}
	}
	
	// Fix placement of actions tooltips
	td .tooltip.left {
		margin-left: -10px;
	}
	
	// Add sorting rules
	@import "_sorting";
}

// On small browsers, only show the second and last columns in tables
@media (max-width: $bootstrap_nav_break) {
	.table {
		th, td {
			display: none;
		}
		td:first-child + td, td:last-child, th:first-child + th, th:last-child {
			display: table-cell;
		}	
	}
}

