-# Add a locales dropdown menu to a create button
-if (!with(new Bkwld\Decoy\Input\Localize)->model(Decoy::modelForController($controller))->hidden())
	-$locales = Config::get('decoy.site.locales')
	%button.btn.outline.dropdown-toggle(data-toggle='dropdown' aria-expanded='false' class=empty($small)?null:'btn-sm')
		%span.caret
		%span.sr-only Toggle Dropdown
	%ul.dropdown-menu(role='menu')
		-foreach($locales as $slug => $label)
			%li
				%a(href=URL::to(DecoyURL::relative('create')).'?locale='.$slug) #{__('decoy::base.header.new_locale', ['title' => str_singular($title), 'label' => $label])}