!= View::make('decoy::shared.form.display._legend', $__data)->render()
!= View::make('decoy::shared.form.display._slug', $__data)->render()
!= View::make('decoy::shared.form.display._visibility', $__data)->render()
!= View::make('decoy::shared.form.display._locale', $__data)->render()
