/**
 * The submit buttons on form pages
 */

// Fix the controls above everything so you can save from the top of the page
.form-actions {
	position: fixed;
	bottom: 0;
	z-index: $header-z;
	width: calc(100% - #{$sidebar-width});
	padding: 0 $main-padding;
	text-align: left;
	@include adjust-for-sidebar(left);

	// Give it a fixed height
	height: $footer-height;
	line-height: $footer-height; // Vertical center

	// Eyeballed this to make it the same effective color as bkgd when overlapping
	background: rgba(darken($body-color, 5%), .7);

	// Adjust for the sidebar going away
	@media(max-width:$screen-sm) {
		padding: 0 $main-padding-mobile;
		width: 100%;
	}

	// Make them fit on one line mobile by getting rid of the save and back button
	@media(max-width:$screen-xs) {
		.save-back {
			display: none;
		}
		.save-new {
			border-bottom-right-radius: $border-radius-base !important;
			border-top-right-radius: $border-radius-base !important;
		}
	}
}