// Treat paragraphs immediately inside a fieldset like a form-group
.form-group, fieldset > p {

	// Seperate from one another
	padding: $form-group-margin;
	@media(max-width: $screen-sm) {
		padding: $form-group-margin-sm;
	}

	// Add borders
	border-bottom: 1px solid $grey-border;

	// Override bootstrap
	margin-bottom: 0;
	.form-horizontal & {
		margin-right: 0;
		margin-left: 0;
	}

	// Add a hover
	&:hover {
		background-color: $lightest-grey;
	}

	// Allow whole field groups to be disabled
	&.disabled {
		opacity: .7;
		background: mix(white, $body-color, 70%); // This matches disabled fielset backg
	}
}

// Clear the border on the last item in a fieldset
// so there aren't double borders
fieldset > :last-child {
	border-bottom: none;
}
