.image-upload {

  .title {
    display: inline-block;
    width: 50%;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .input-group {
    width: 100%;
  }

  .file {
    margin-bottom: 15px;
  }

  .toolbar {

  }

}
