.image-upload {
  $height: 33px;
  $bkgd: #f5f5f5;
  $border: 1px solid #ccc;
  position: relative;

  .image-holder {
    display: none;
    margin-top: 5px;
  }

  &.has-image {

    .image-holder {
      display: block;
    }

    input[type="file"] {
      display: none;
    }
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 4px;
    outline: none;
    background: transparent;

    // Center the title
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    top: 4px;

    border: 1px solid transparent;
    transition: border-color 200ms;
    &:focus {
      border: $border;
    }
  }

  .btn-default {
    background: none;
  }

  .input-group {
    width: 100%;

    .btn-group {

      .btn {
        padding: 9px 10px;
        border-radius: 0;
        height: $height;
        transition: background-color 250ms, color 250ms;

        &:not(.active):hover {
          background-color: $theme-primary-color;
          color: white;
        }

        &:active {
          box-shadow: none;
        }
      }

      .active {
        background-color: #ccc;
        box-shadow: none;
      }
    }

    .delete {
      padding: 9px 10px;
      border-radius: 0 4px 0 0;
      top: 0;
      height: $height;
      transition: background-color 250ms, color 250ms;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }

  .file {
    margin-bottom: 15px;

    &.hidden {
      display: none;
    }
  }

  .toolbar {
    background: $bkgd;
    border: $border;
    border-radius: 4px 4px 0 0;
  }

  .img-thumbnail {
    border-top: 0;
    border-radius: 0 0 4px 4px;
    position: relative;
  }

  .focal-point {
    position: absolute;
    z-index: 1000;
    color: white;
    opacity: 0;
    transition: opacity 300ms;
  }

  .delete {
    float: right;
  }
}
