
// Skin video encoder
.form-group.video-encoder {

	// Format the progress bar
	.progress {
		margin-bottom: 0;
		.progress-bar {
			font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
			font-size: 12px;
			text-shadow: none;
			text-transform: capitalize;
		}
	}

	// The video player
	video {

		// Push off top
		margin-top: 5px;

		// Make it scale
		max-width: 100%;

		// Add a border
    border: 1px solid #ddd;
		border-radius: 4px;
	}

}
