body.fragments {
	
	// This was creating scrollbars
	.tab-content {
		overflow: visible;
	}
	
	// Make it flush
	.tab-pane {
		@include flush-child-spans;
		
		// Space sections
		> div {
			margin-bottom: 20px;
		}
	}
	
	// Make the pills grey scale
	.nav-pills a {
		color: $near-black;
		background: $light-grey;
		&:hover {
			color: black;
			background: #eee;
		}
	}
	.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
		color: white;
		background: $near-black;
	}
	
}