$light-grey: whiteSmoke;
$grey-border: #ddd;
$light-opacity: .3;
$near-black: #333;

// Allow for things to be 100% height
html {
	min-height: 100%;
}

// Add a little breathing room to bottom of the page
body {
	padding-bottom: 40px;
}

// Push the page down a bit
body > .container {
	padding-top: 20px;
}

// Tweak the look of disabled buttons
.btn.disabled {
	@include opacity($light-opacity);
}

// Container for the Growl style notifications
.notifications {
	position: fixed;
	right: 15px;
	z-index: 9999;
	top: 60px;
}

// The negative margin compensates for the left margin
// on the leftest column and allows the full grid to be flush
// with the edges of the page.  Additionally, bootstrap has
// different margins based on the media query.
@mixin flush-child-spans {
	@include clearfix;
	margin-bottom: -20px;
	@media (min-width: $bootstrap_nav_break + 1px) {
	  & { margin-left: -20px; }
	}
	@media (min-width: 1200px) {
		& { margin-left: -30px; }
	}
}

// Make a striped background.  From: https://gist.github.com/1947254
@mixin striped-background($stripe1, $stripe2, $angle: -45deg, $size: 40px, $other-backgrounds: false) {
	@include background-image(linear-gradient($angle, $stripe1 25%, $stripe2 25%, $stripe2 50%, $stripe1 50%, $stripe1 75%, $stripe2 75%, $stripe2), $other-backgrounds);
	background-repeat: repeat;
	@include background-size(unquote("#{$size} #{$size}"));
}

// Make pulldown menus that are being floated right, also be
// justified right.  I grabbed this from: 
// https://github.com/twitter/bootstrap/issues/2045
.pull-right .dropdown-menu {
	right: 0;
	
	// The JS for typeahead sets a left so we need to do
	// important to override
	left: auto !important;
	
}

// How far down the page to affix elements
.affixable {
	top: 65px
}

// Remove the blue tab focus outline.  Bootstrap's active/hover states suffice
a, button { outline: none !important; }